<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lyrics Playlist</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lyrics Playlist</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body style="background-color:#cdd1d3;">
    <center>
    <div class="container-fluid">
        <div class="jumbotron">
          <h1> <%= @user_movie.title %> </h1>
        </div>
        
        <p> The movie was released on <%= @user_movie.year %>. </p>
        <p> The movie received an IMDB rating of <%= @user_movie.rating %> out of 10. </p>
        <p> The movie is rated <%= @user_movie.rated %>. </p>
        <p> The movie is <%= @user_movie.runtime %>utes long. </p>
        <p> The movie was released on <%= @user_movie.releasedate %>. </p>
        <p> The movie is an <%= @user_movie.genre %> film. </p>
    </div>
    </center>
  </body>
</html>
    
    
  </body>
</html>